name: churn-ml-ci

on: [push]

permissions: write-all

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Setup CML
      uses: iterative/setup-cml@v1

    - name: Train model & produce metrics
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python script.py
        ls -la

    - name: Generate Report
      env:
        REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "## Metrics" > report.md
        cat metrics.txt >> report.md
        echo "## Confusion Matrix" >> report.md
        echo "![](./conf_matrix.png)" >> report.md
        cml comment create report.md
